<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Filter transactions</h2>
        <div class="quicksearch govuk-form-group">
            <label class="govuk-label govuk-filter-group__container__title" for="quickSearch">
                Transaction description

            </label>
            <span class="govuk-hint">
                Begin typing, and either add from the list that appears or apply your own keywords. You can add multiple terms.                </span>
            <input class="govuk-input govuk-grid-column-full multipleSelect" data-user-option-allowed="true" placeholder=" "
                    id="quickSearch" name="quick-search"
                    type="text" data-filter-group="description" multiple data-url="/public/data/filters/contract-MATs-descriptions-fastselect.json">

        </div>
    </div>
</div>
<div class="gov-uk-grid-row">
    <form class="" id="filters">
        <div class="govuk-clearfix" >
            <fieldset class="govuk-reset-fieldset govuk-grid-column-one-half" role="group">
                <div class="govuk-form-group">
                    <label class="govuk-label" id="byAcademyName" for="byAcademyName">
                        Filter by academy
                    </label>
                    <select class="govuk-select multipleSelect" id="byAcademyName" data-filter-group="academyName"
                            multiple name="byAcademyName" placeholder="All academies">
                        <option value="Alpha academy">Alpha academy</option>
                        <option value="Beta academy">Beta academy</option>
                        <option value="Charlie academy">Charlie academy</option>
                        <option value="Delta academy">Delta academy</option>
                        <option value="Echo academy">Echo academy</option>
                    </select>
                </div>
            </fieldset>
        </div>
        <div class="govuk-form-group daterange">
            <fieldset class="govuk-reset-fieldset govuk-fieldset govuk-grid-column-one-half " id="byDateRange"
                    data-filter-group="dateRangeFilter" data-filter="dateRangeFilter" role="group"
                    aria-describedby="date-range-hint future-date-error">
                <legend class="govuk-reset-fieldset govuk-label bold">
                    Enter a start and end date
                </legend>
                    <span id="future-date-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> The end date must not be in the future
                    </span>
                    
                <!--            <span id="date-range-hint" class="govuk-hint">-->
                <!--                      For example, 12 11 2007-->
                <!--                    </span>-->
                <div class="govuk-date-input ">
                    <div class="govuk-!-display-inline-block" id="start-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="start-date-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 dateinput" id="start-date-day"
                                    name="start-date-day" type="number" pattern="[0-9]*" value="19">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="start-date-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 dateinput"
                                    id="start-date-month" name="start-date-month" type="number" pattern="[0-9]*"
                                    value="09">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="start-date-year">
                                    Year
                                </label>
                                <select class="govuk-input govuk-date-input__input govuk-date-input__year govuk-input--width-4 dateinput"
                                        id="start-date-year"
                                        name="start-date-year">
                                    <option value="2020" >2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017" selected>2017</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <p class="govuk-!-display-inline-block govuk-!-margin-right-5">to</p>
                    <div id="end-date" class="govuk-!-display-inline-block">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="end-date-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 dateinput" id="end-date-day"
                                    name="end-date-day" type="number" pattern="[0-9]*" value="01">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="end-date-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 dateinput" id="end-date-month"
                                    name="end-date-month" type="number" pattern="[0-9]*" value="08">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="end-date-year">
                                    Year
                                </label>
                                <select class="govuk-input govuk-date-input__input govuk-date-input__year govuk-input--width-4 dateinput"
                                        id="end-date-year"
                                        name="end-date-year" >
                                    <option value="2020" >2020</option>
                                    <option value="2019" selected>2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="govuk-grid-column-full filter-bottom-group  govuk-!-padding-0">
            <button class="govuk-button govuk-button--secondary  govuk-!-margin-right-1" type="reset"
                    data-module="govuk-button">
                Reset
            </button>
            <button class="govuk-button" data-module="govuk-button" type="submit">
                Apply
            </button>
        </div>
    </form>
</div>