<div class="gov-uk-grid-row">
    <div class="moj-filter">
        <div class="moj-filter__header">
           <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filter by</h2>
           </div>
           <div class="moj-filter__header-action">
           </div>
        </div>
        <div class="moj-filter__content">
           <div class="moj-filter__options">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="byFundingGroup">
                    Description
                </label>
                 <input class="govuk-input" id="keywords" name="keywords" type="text">
              </div>
              <div class="govuk-form-group">
                 <fieldset class="govuk-fieldset">
                    <label class="govuk-label govuk-!-font-weight-bold" for="byFundingGroup">
                        Academy
                    </label>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                       <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                          <label class="govuk-label govuk-checkboxes__label" for="type">
                          Alpha Academy (18)
                          </label>
                       </div>
                       <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                          <label class="govuk-label govuk-checkboxes__label" for="type-2">
                          Beta Academy (5)
                          </label>
                       </div>
                       <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                          <label class="govuk-label govuk-checkboxes__label" for="type-3">
                          Charlie Academy (2)
                          </label>
                       </div>
                       <div class="govuk-checkboxes__item">
                         <input class="govuk-checkboxes__input" id="type-4" name="type" type="checkbox" value="4">
                         <label class="govuk-label govuk-checkboxes__label" for="type-4">
                         Delta Academy (6)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                         <input class="govuk-checkboxes__input" id="type-5" name="type" type="checkbox" value="5">
                         <label class="govuk-label govuk-checkboxes__label" for="type-5">
                         Echo Academy (10)
                         </label>
                      </div>
                    </div>
                 </fieldset>
              </div>
              <div class="filter-right">
                <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
                    Apply
                </button>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Reset
                </button>
            </div> 
           </div>
        </div>
     </div>
</div>