<h1 class="govuk-heading-xl">
    Filter and export transactions
    <span class="govuk-caption-xl">Search and filter your transactions to get the data you need to better understand your payments.</span>
</h1>
<p>
    You can use the search and filter options on this page to create and export custom transaction data.
</p>
<p>For example, you could set the <strong>'Date'</strong> and <strong>'Refine by'</strong> filters to view and analyse your income for a specific budget
    group or age-band description over a set period of time.

</p>
