{% extends "layout_1280.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<a href="./vyp" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        <div class="header-wrapper">    <h1 class="govuk-heading-xl">
            Filter and export transactions
            <span class="govuk-caption-xl">            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Help using this page
                    </span>
                </summary>
                <div class="govuk-details__text">
                    This page displays a list of all the transactions that made up the funds you’ve received from the
                    ESFA. You can filter and export this data according to:
                    <ul>
                        <li>Date ranges</li>
                        <li>Budget groups</li>
                        <li>Contract numbers</li>
                        <li>Transaction descriptions</li>
                    </ul>
                    <a href="#">Get further guidance on using this page.</a>
                </div>
            </details>
</span>
        </h1>
        </div>
    </div>
</div>


{% include "../../includes/filter-component-mat_.html" %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% include "../content/summary-table.html" %}
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-filter-group__container buttons">
            <button class="govuk-button govuk-button--secondary govuk-!-margin-right-1" data-module="govuk-button">
                Export
            </button>
            <a href="javascript:window.print()">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Print
            </button>
        </a>
        </div>
        {% include "../content/transaction-table.html" %}
        {% include "../../includes/pagination.html" %}
    </div>
</div>


{% endblock %}
