{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="govuk-width-container" onbeforeunload='reset_options()'>
    <a href="../" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Title
                    <span class="govuk-caption-xl">Summary</span>
                </h1>
                <!–– insert content here/you can delete that line––>

            </div>
        </div>

    </main>
</div>

{% endblock %}
