<div class="govuk-accordion" data-module="govuk-accordion" id="transaction-summary-accordion">
    <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">

            <h2 class="govuk-accordion__section-heading govuk-heading-m">
                <span class="govuk-accordion__section-button" id="transaction-summary-accordion-heading-1">Summary of funding by budget group</span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="transaction-summary-accordion-summary-1">
                Subtotal of the current view <span id="filterTotal"></span>
            </div>
        </div>
        <div id="transaction-summary-accordion-content-1" class="govuk-accordion__section-content"
             aria-labelledby="transaction-summary-accordion-heading-1">
            <table class="govuk-table govuk-table-striped">
                <caption class="govuk-table__caption">Budget group summary</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Budget</th>
                    <th scope="col" class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold">
                        Amount
                    </th>
                    <th scope="col" class="govuk-table__header">Budget</th>
                    <th scope="col" class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold">
                        Amount
                    </th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% set cls = cycler("odd", "even") %}
                {% for item in summaryContent %}

                <!-- iterate through odd items so we can close the end row -->
                {% if cls.next() == "odd" %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{item.fundingGroup}}
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric ">{{item.amount}}</td>
                    {% if loop.last %}
                    <td class="govuk-table__cell"></td>
                    <td class="govuk-table__cell"></td>
                </tr>
                <tr class="govuk-table__row totals-row">
                    <td class="govuk-table__cell" colspan="2">Total for above (will do logic for dates)</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric" colspan="2">{{item.subtotal}}</td>
                </tr>
                {% endif %}

                {% else %}
                <td class="govuk-table__cell">{{item.fundingGroup}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">{{item.amount}}</td>
                </tr>
                {% endif %}


                {% else %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="2"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


