.govuk-table-striped {
  tr:nth-child(even) {
    background-color: govuk-colour("light-grey");
  }

  tr:nth-child(odd) {
    //background-color: #FFF;
  }
}

.totals-row{
  background: white;
  padding-top: 1px;
  td, th{
    border-top: 2px solid;
  }
  &:last-child{
    td, th{
      border-top: 2px solid;
    }
  }
}
.govuk-table__cell{
  &--bottom{
    vertical-align: bottom;
  }
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
  content: " \25B4\25BE" 
}
