<table id="transaction-table" class="govuk-table grid">
	<caption class="govuk-table__caption govuk-visually-hidden">Transactions</caption>
	<thead class="govuk-table__head" class="sort">
	<tr class="govuk-table__row btn-group" id="sorts2">
		<th scope="col" class="govuk-table__header asc transactionDate" data-sort-value="transactionDate">Date</th>
		<th scope="col" class="govuk-table__header academy" data-sort-value="academy">Academy Name</th>
		<th scope="col" class="govuk-table__header description" data-sort-value="description">Description</th>
		<th scope="col"
			class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold transactionAmount"
			data-sort-value="transactionAmount">Amount
		</th>
	</tr>
	</thead>
	<tbody class="govuk-table__body no-transition tb-data" id="transaction-table-v2">

	{% for item in remittanceContentMATS %}


	<tr class="
     {{'grid-sizer' if loop.first}}
     tb-data-single govuk-table__row grid-item
     {{item.contractNumber}}
	 {{item.academy | replace(' ', '-')}}
     "
		data-transaction-date="{{item.date}}">
		<td class="govuk-table__cell transactionDate">{{item.date| date("DD/MM/YYYY") }}</td>
		<td scope="row" class="govuk-table__cell">
			<span class="academyName">{{item.academy}}</span>
		</td>
		<td class="govuk-table__cell description">{{item.description}}</td>
		<td class="govuk-table__cell govuk-table__cell--numeric transactionAmount">{{item.amount}}</td>
	</tr>

	{% else %}
	<tr class="govuk-table__row">
		<td class="govuk-table__cell" colspan="5">Empty row</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
