<table class="govuk-table isotope" id="transaction-table-v2">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Payment date and amount</th>
        <th scope="col" class="govuk-table__header">Academy name</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Payment details</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body" id="transaction-table">

    {% set remittanceData = remittanceBuilder.mapRemittanceData(remittanceContentMATSeptember) %}

    {% for item in remittanceData %}

        <tr class="govuk-table__row {{item.academy | replace(' ', '-')}} tb-data-single" data-transaction-date="{{item.transactionDate}}">
            <td scope="row" class="govuk-table__header">
                <span class="date transactionDate">{{item.transactionDate}}
                </span><br>
                <span class="amount govuk-body">{{item.transactionAmount | float | currency('£')}}</span>
            </td>
            <td scope="row" class="govuk-table__cell academyName">
                <span class="fundingGroup">{{item.academy}}</span>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--bottom">
                <a href="payment-history/remittance-statement/{{item.academy | replace(' ', '-')}}/{{item.transactionDate | replace(' ', '-')}}/{{item.remittanceID}}">View payment details</a>
            </td>
        </tr>

    {% endfor %}


    </tbody>
</table>

