<div class='govuk-main-wrapper'>
 <table id="transaction-table" class="govuk-table grid sortable govuk-grid-column-two-thirds">
	<caption class="govuk-table__caption govuk-visually-hidden">Transactions</caption>
	<thead class="govuk-table__head" class="sort">
	   <tr class="govuk-table__row btn-group" id="sorts2">
		  <th scope="col" class="govuk-table__header asc transactionDate sortable-column" data-sort-value="transactionDate">
			 <span class="th-content">Date</span>
		  </th>
		  <th scope="col" class="govuk-table__header academy sortable-column" data-sort-value="academy">
			 <span class="th-content">Academy Name</span>
		  </th>
		  <th scope="col" class="govuk-table__header govuk-visually-hidden description sortable-column" data-sort-value="description">
			 <span class="th-content">Description</span>
		  </th>
		  <th scope="col" class="govuk-table__header realdescription sortable-column" data-sort-value="realdescription">
			 <span class="th-content">Description</span>
		  </th>
		  <th scope="col"
			 class="govuk-table__header govuk-table__cell--numeric govuk-!-font-weight-bold transactionAmount sortable-column"
			 data-sort-value="transactionAmount">
			 <span class="th-content">Amount</span>
		  </th>
	   </tr>
	</thead>
	<tbody class="govuk-table__body no-transition tb-data" id="transaction-table-v2">
	   {% for item in remittanceContentMATS %}
	   <tr class="
		  {{'grid-sizer' if loop.first}}
		  tb-data-single govuk-table__row grid-item
		  {{item.contractNumber}}
		  {{item.academy | replace(' ', '-')}}
		  "
		  data-transaction-date="{{item.date}}">
		  <td scope="row" class="govuk-table__cell transactionDate">{{item.date| date("DD/MM/YYYY") }}</td>
		  <td scope="row" class="govuk-table__cell">
			 <span class="academyName">{{item.academy}}</span>
		  </td>
		  <td scope="row" class="govuk-table__cell govuk-visually-hidden description">{{item.description}}</td>
		  <td scope="row" class="govuk-table__cell realdescription">{{item.realdescription}}</td>
		  <td scope="row" class="govuk-table__cell govuk-table__cell--numeric transactionAmount">{{item.amount}}</td>
	   </tr>
	   {% else %}
	   <tr class="govuk-table__row">
		  <td class="govuk-table__cell" colspan="5">Empty row</td>
	   </tr>
	   {% endfor %}
	</tbody>
 </table>
</div>