{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Payment history
                    <span class="govuk-caption-xl">A list of the funding money you’ve received from the ESFA.</span>
                </h1>
                <p>
                    From here, you can navigate to:
                <ul class="govuk-list govuk-list--bullet">
                    <li>an exportable list of transactions that made up each payment</li>
                    <li>a view of all your transactions, which you can search, filter and export according to budget
                        groups, contract numbers and time periods
                    </li>
                </ul>
                </p>
                <p>
                    {{ govukButton({
                    text: "Filter and export transactions",
                    href: "/v3.0.1/filter-and-export",
                    isStartButton: true
                    }) }}
                </p>
            </div>
        </div>
        <hr class="govuk-!-margin-bottom-5 govuk-hr">
        <form class="govuk-form-group date-picker" id="filters">
            <fieldset class="govuk-reset-fieldset govuk-grid-column-full" id="byDateRange"
            data-filter-group="dateRangeFilter" data-filter="dateRangeFilter" role="group"
            aria-describedby="date-range-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        What date range are you interested in viewing?
                    </h2>
                </legend>
                <span id="dob-hint" class="govuk-hint">
                          For example, 31 3 2018 to 31 5 2019
                        </span>

                <div class="govuk-date-input">
                    <div class="govuk-!-display-inline-block" id="start-date">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="start-date-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="start-date-day"
                                       name="start-date-day" type="number" pattern="[0-9]*" value="19">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="start-date-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="start-date-month" name="start-date-month" type="number"
                                       pattern="[0-9]*"
                                       value="09">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="start-date-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                       id="start-date-year"
                                       name="start-date-year" type="number" pattern="[0-9]*" value="2017">
                            </div>
                        </div>
                    </div>
                    <p class="govuk-!-display-inline-block govuk-!-margin-right-5">to</p>
                    <div id="end-date" class="govuk-!-display-inline-block">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="end-date-day">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="end-date-day"
                                       name="end-date-day" type="number" pattern="[0-9]*" value="19">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="end-date-month">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                                       id="end-date-month"
                                       name="end-date-month" type="number" pattern="[0-9]*" value="10">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="end-date-year">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                                       id="end-date-year"
                                       name="end-date-year" type="number" pattern="[0-9]*" value="2019">
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="govuk-grid-column-full filter-buttonm-group  govuk-!-padding-0">
                <button class="govuk-button govuk-button--secondary resetbutton govuk-!-margin-right-1" type="button"
                        data-module="govuk-button">
                    Reset
                </button>
                <button class="govuk-button" data-module="govuk-button" type="submit">
                    Apply
                </button>
            </div>
        </form>
        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "./remittance.html" %}
            </div>
        </div>
    </main>
</div>

{% endblock %}
