{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}


{% block content %}
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">Payment history
                <span class="govuk-caption-xl">A list of the funding money you’ve received from the ESFA.</span></h1>
                <p>
                    From here, you can navigate to:
                <ul class="govuk-list govuk-list--bullet">
                    <li>an exportable list of transactions that made up each payment</li>
                    <li>a view of all your transactions, which you can search, filter and export according to budget groups, contract numbers and time periods
                    </li>
                </ul>
                </p>
                <p>
                    {{ govukButton({
                    text: "Filter and export transactions",
                    href: "/v3/filter-and-export",
                    isStartButton: true
                    }) }}
                </p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                {% include "./remittance.html" %}
            </div>
        </div>
    </main>
</div>

{% endblock %}
